<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yijiaersan.webapp.dao.AdminMapper" >
  <resultMap id="BaseResultMap" type="com.yijiaersan.webapp.model.Admin" >
    <result column="MAIN_ID" property="mainId" jdbcType="BIGINT" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="ADMINNAME" property="adminname" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="CHAR" />
    <result column="AGE" property="age" jdbcType="INTEGER" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
    <result column="CREATE_DATETIME" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
  </resultMap>
  
  <insert id="insert" parameterType="com.yijiaersan.webapp.model.Admin" >
    insert into admin_table (MAIN_ID, USERNAME, PASSWORD, 
      ADMINNAME, SEX, AGE, TEL, 
      CREATE_DATETIME, STATUS)
    values (#{mainId,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{adminname,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{age,jdbcType=INTEGER}, #{tel,jdbcType=VARCHAR}, 
      #{createDatetime,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yijiaersan.webapp.model.Admin" >
    insert into admin_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mainId != null" >
        MAIN_ID,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="adminname != null" >
        ADMINNAME,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="age != null" >
        AGE,
      </if>
      <if test="tel != null" >
        TEL,
      </if>
      <if test="createDatetime != null" >
        CREATE_DATETIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mainId != null" >
        #{mainId,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="adminname != null" >
        #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  
  <select id="selectAdminInfo" resultMap="BaseResultMap" parameterType="com.yijiaersan.webapp.model.Admin">
  	select MAIN_ID, USERNAME, PASSWORD, 
      ADMINNAME, SEX, AGE, TEL, 
      CREATE_DATETIME, STATUS
    from admin_table
    where USERNAME = #{username,jdbcType=VARCHAR}
  </select>
</mapper>