<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yijiaersan.webapp.dao.SmsCodeMapper" >
  <resultMap id="BaseResultMap" type="com.yijiaersan.webapp.model.SmsCode" >
  	<result column="mainId" property="mainId" jdbcType="BIGINT"/>
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="sendtime" property="sendtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.yijiaersan.webapp.model.SmsCode" >
    insert into sms_code_table (mainId,code, telphone, sendtime
      )
    values (#{mainId,jdbcType=BIGINT},#{code,jdbcType=VARCHAR}, #{telphone,jdbcType=VARCHAR}, #{sendtime,jdbcType=TIMESTAMP}
      )
  </insert>
  
  <select id="selectSmsCode" parameterType="com.yijiaersan.webapp.model.SmsCode" resultMap="BaseResultMap">
  	select mainId, code,telphone,sendtime from sms_code_table where telphone = #{telphone,jdbcType=VARCHAR}
  </select>
  
  <update id="updateSmsCode" parameterType="com.yijiaersan.webapp.model.SmsCode">
  	update sms_code_table set code = #{code,jdbcType=VARCHAR} where telphone = #{telphone,jdbcType=VARCHAR}
  </update>
  
  <insert id="insertSelective" parameterType="com.yijiaersan.webapp.model.SmsCode" >
    insert into sms_code_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mainId != null" >
        mainId,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="telphone != null" >
        telphone,
      </if>
      <if test="sendtime != null" >
        sendtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mainId != null" >
        #{mainId,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null" >
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <delete id="deleteSmsCodeByMainId" parameterType="Long">
  	delete from sms_code_table where mainId = #{mainId,jdbcType=BIGINT}
  </delete>
</mapper>