<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yijiaersan.webapp.dao.VipPackageMapper" >
  <resultMap id="BaseResultMap" type="com.yijiaersan.webapp.model.VipPackage" >
    <result column="PKG_ID" property="pkgId" jdbcType="BIGINT" />
    <result column="PKG_NAME" property="pkgName" jdbcType="VARCHAR" />
    <result column="PKG_TYPE" property="pkgType" jdbcType="VARCHAR" />
    <result column="PKG_PRICE" property="pkgPrice" jdbcType="INTEGER" />
    <result column="PKG_MOUTH_PRICE" property="pkgMouthPrice" jdbcType="INTEGER" />
    <result column="PKG_DATE" property="pkgDate" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.yijiaersan.webapp.model.VipPackage" >
    insert into VIP_PACKAGE (PKG_ID, PKG_NAME, PKG_TYPE, 
      PKG_PRICE, PKG_MOUTH_PRICE,PKG_DATE)
    values (#{pkgId,jdbcType=BIGINT}, #{pkgName,jdbcType=VARCHAR}, #{pkgType,jdbcType=VARCHAR}, 
      #{pkgPrice,jdbcType=INTEGER}, #{pkgMouthPrice,jdbcType=INTEGER},#{pkgDate,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yijiaersan.webapp.model.VipPackage" >
    insert into VIP_PACKAGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkgId != null" >
        PKG_ID,
      </if>
      <if test="pkgName != null" >
        PKG_NAME,
      </if>
      <if test="pkgType != null" >
        PKG_TYPE,
      </if>
      <if test="pkgPrice != null" >
        PKG_PRICE,
      </if>
      <if test="pkgMouthPrice != null" >
        PKG_MOUTH_PRICE,
      </if>
      <if test="pkgDate != null" >
        PKG_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkgId != null" >
        #{pkgId,jdbcType=BIGINT},
      </if>
      <if test="pkgName != null" >
        #{pkgName,jdbcType=VARCHAR},
      </if>
      <if test="pkgType != null" >
        #{pkgType,jdbcType=VARCHAR},
      </if>
      <if test="pkgPrice != null" >
        #{pkgPrice,jdbcType=INTEGER},
      </if>
      <if test="pkgMouthPrice != null" >
        #{pkgMouthPrice,jdbcType=INTEGER},
      </if>
      <if test="pkgDate != null" >
        #{pkgDate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <select id="queryVipPackageInfo" resultMap="BaseResultMap" parameterType="Long">
  	select * from VIP_PACKAGE where PKG_ID = #{pkgId,jdbcType=BIGINT}
  </select>
  
  <select id="queryVipPackageAllInfo" resultMap="BaseResultMap">
  	select * from VIP_PACKAGE
  </select>
</mapper>