<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yijiaersan.webapp.dao.VipRegisterMapper" >
  <resultMap id="BaseResultMap" type="com.yijiaersan.webapp.model.VipRegister" >
    <result column="VIP_ID" property="vipId" jdbcType="BIGINT" />
    <result column="USER_ID" property="userId" jdbcType="BIGINT" />
    <result column="PKG_ID" property="pkgId" jdbcType="BIGINT" />
    <result column="CTEAT_DATE" property="cteatDate" jdbcType="DATE" />
    <result column="FAILURE_DATE" property="failureDate" jdbcType="DATE" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.yijiaersan.webapp.model.VipRegister" >
    insert into VIP_REGISTER (VIP_ID, USER_ID, PKG_ID, 
      CTEAT_DATE, FAILURE_DATE,STATUS)
    values (#{vipId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{pkgId,jdbcType=BIGINT}, 
      #{cteatDate,jdbcType=DATE}, #{failureDate,jdbcType=DATE}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yijiaersan.webapp.model.VipRegister" >
    insert into VIP_REGISTER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vipId != null" >
        VIP_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="pkgId != null" >
        PKG_ID,
      </if>
      <if test="cteatDate != null" >
        CTEAT_DATE,
      </if>
      <if test="failureDate != null" >
        FAILURE_DATE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vipId != null" >
        #{vipId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="pkgId != null" >
        #{pkgId,jdbcType=BIGINT},
      </if>
      <if test="cteatDate != null" >
        #{cteatDate,jdbcType=DATE},
      </if>
      <if test="failureDate != null" >
        #{failureDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DATE},
      </if>
    </trim>
  </insert>
</mapper>