<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd    
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd    
                        http://www.springframework.org/schema/mvc    
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                          http://www.springframework.org/schema/tx 
				           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
				           http://www.springframework.org/schema/aop 
				           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<bean id="userWeblogic" class="com.yijiaersan.webapp.weblogic.UserWeblogic" />
	<bean id="articleWeblogic" class="com.yijiaersan.webapp.weblogic.ArticleWeblogic" />
	<bean id="stockWeblogic" class="com.yijiaersan.webapp.weblogic.StockWeblogic"></bean>
	
	<bean id="shareWeblogic" class="com.yijiaersan.webapp.weblogic.ShareWeblogic"></bean>
	
	<bean id="customWeblogic" class="com.yijiaersan.webapp.weblogic.CustomWeblogic"></bean>
	<bean id="tokenWeblogic" class="com.yijiaersan.webapp.weblogic.TokenWeblogic"></bean>
	<bean id="vipPackageWeblogic" class="com.yijiaersan.webapp.weblogic.VipPackageWeblogic"></bean>
	<bean id="carouselWeblogic" class="com.yijiaersan.webapp.weblogic.CarouselWeblogic"></bean>
	
	<bean id="userCollectionWeblogic" class="com.yijiaersan.webapp.weblogic.UserCollectionWeblogic"></bean>
	<bean id="adminWeblogic" class="com.yijiaersan.webapp.weblogic.AdminWeblogic"></bean>
</beans>